<div>

  <nav>
    <ul>
      <li>
        <a href="#">🏦 Bank</a>
        <ul>
          <li><a href="list-bank">Banks List</a></li>
          <li><a href="add-bank">Add Bank</a></li>
        </ul>
      </li>
      <li>
        <a href="#">👤 Employees</a>
        <ul>
          <li><a href="emp-list">Employees List</a></li>
          <li><a href="#">Add Employee</a></li>
        </ul>
      </li>
      <li>
        <a href="#">💰 Files</a>
        <ul>
          <li><a href="file-list">Files list</a></li> 
          <li><a href="file-reassign">File Reassign</a></li>  
        </ul>
      </li>
      <li>
        <a href="#">⚙ Settings</a>
        <ul>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Security</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>