<div class="container">
    <h2>Employee List</h2>
  
   <table border="1">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employeesList">
          <td>{{ emp.id }}</td>
          <td>{{ emp.employee_name || '-' }}</td>
          <td>{{ emp.employee_phone || '-' }}</td>
          <td>{{ emp.employee_email || '-' }}</td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination controls
  <pagination-controls 
  (pageChange)="page = $event"
  previousLabel="Prev"
  nextLabel="Next">
</pagination-controls> -->
  </div>
  